src/main/resources/wsdl/s.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="http://www.test.com/soapws/gen"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="https://www.test.com/soapws/gen"
                  targetNamespace="https://www.test.com/soapws/gen">
    <wsdl:types>
        <xs:schema xmlns:tns="http://www.test.com/soapws/gen" xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   elementFormDefault="qualified" targetNamespace="http://www.test.com/soapws/gen">
            <xs:element name="getStudentRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="id" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getStudentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="student" type="tns:student"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="student">
                <xs:sequence>
                    <xs:element name="id" type="xs:int"/>
                    <xs:element name="name" type="xs:string"/>
                    <xs:element name="age" type="xs:int"/>
                    <xs:element name="phoneNumber" type="xs:string"/>
                </xs:sequence>
            </xs:complexType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getStudentRequest">
        <wsdl:part element="sch:getStudentRequest" name="getStudentRequest">
        </wsdl:part>
    </wsdl:message>
    <wsdl:message name="getStudentResponse">
        <wsdl:part element="sch:getStudentResponse" name="getStudentResponse">
        </wsdl:part>
    </wsdl:message>
    <wsdl:portType name="studentPort">
        <wsdl:operation name="getStudent">
            <wsdl:input message="tns:getStudentRequest" name="getStudentRequest">
            </wsdl:input>
            <wsdl:output message="tns:getStudentResponse" name="getStudentResponse">
            </wsdl:output>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="studentPortSoap11" type="tns:studentPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getStudent">
            <soap:operation soapAction=""/>
            <wsdl:input name="getStudentRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getStudentResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="studentPortService">
        <wsdl:port binding="tns:studentPortSoap11" name="studentPortSoap11">
            <soap:address location="http://localhost:8083/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>