src/main/resources/wsdl/student.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:sch="example.com/soap/dto"
                  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="com.example/soap/dto"
                  targetNamespace="com.example/soap/dto">
    <wsdl:types>
        <xs:schema xmlns:tns="example.com/soap/dto" xmlns:xs="http://www.w3.org/2001/XMLSchema"
                   elementFormDefault="qualified" targetNamespace="example.com/soap/dto">
            <xs:element name="createStudent">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="student" type="tns:student"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="studentRequest">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="StudentId" type="xs:long"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="studentResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element name="student" type="tns:student"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:complexType name="student">
                <xs:sequence>
                    <xs:element name="studentId" type="xs:long"/>
                    <xs:element name="firstName" type="xs:string"/>
                    <xs:element name="lastname" type="xs:string"/>
                    <xs:element name="age" type="xs:int"/>
                    <xs:element name="gender" type="tns:gender"/>
                </xs:sequence>
            </xs:complexType>
            <xs:simpleType name="gender">
                <xs:restriction base="xs:string">
                    <xs:enumeration value="MALE"/>
                    <xs:enumeration value="FEMALE"/>
                </xs:restriction>
            </xs:simpleType>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="studentResponse">
        <wsdl:part element="sch:studentResponse" name="studentResponse"/>
    </wsdl:message>
    <wsdl:message name="studentRequest">
        <wsdl:part element="sch:studentRequest" name="studentRequest"/>
    </wsdl:message>
    <wsdl:portType name="StudentsPort">
        <wsdl:operation name="student">
            <wsdl:input message="tns:studentRequest" name="studentRequest"/>
            <wsdl:output message="tns:studentResponse" name="studentResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="StudentsPortSoap11" type="tns:StudentsPort">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="student">
            <soap:operation soapAction=""/>
            <wsdl:input name="studentRequest">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="studentResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="StudentsPortService">
        <wsdl:port binding="tns:StudentsPortSoap11" name="StudentsPortSoap11">
            <soap:address location="/ws"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>